<section>
  <h2>Cards de traducao</h2>
</section>

<section>
  <p>Aplicacao criada para traduzir algumas expressoes</p><br>
</section>

<section>
  <h2>Cards Portugues/Ingles</h2>
  <% @cards.each do |card| %>
    <%= link_to card.front, card %><br><br>
  <% end %>
</section><br>
