<h1>Novo Card</h1>
<form method="post" action="/cards">
  <label for="frente">Frente</label>
  <input id="frente"type="text" name="frente" placeholder="Insira um texto">
  <label for="verso">Verso</label>
  <input id="verso"type="text" name="verso" placeholder="Insira um texto">
  <input type="submit" value="Enviar">
</form>
